.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.author-avatar-image { // temporary since there is no avatar image in assets
    width: 100%;
    height: 100%;
    background-color: #222;
}

.author-avatar {
    border-radius: 50%;
    overflow: hidden;
}
