@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

@import 'typing';
@import 'button';
@import 'avatar';
@import 'icon';

html {
    font: 400 10px 'Roboto';
}

body {
    @include flex(flex-start, center);
    flex-direction: column;
    font-size: 1.6rem;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    max-width: 192rem;
    flex: 1;
    @include flex(center, flex-start);
}

.chip {
    display: inline-block;
    padding: .4rem 1rem;
    margin-right: .5rem;
    background-color: $secondary-color;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    font-weight: 900;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color-hover;
    }
}

.common-input {
    width: 100%;
    padding: 1.2rem;
    border: $main-border;
    color: $main-color;

    &::placeholder {
        color: $secondary-color;
    }

    &.textarea {
        height: 10rem;
        resize: none;
    }
}
