i {
  &.icon {
    display: inline-flex;
    background-position: center;
    background-size: cover;
  }

  &.icon--expand {
    @include size(.8rem);
    border: .2rem solid;
    border-left: 0;
    border-top: 0;
    transform: rotate(45deg);
    transition: 0.3s all 0.1s;

    &.flipY {
      transform: rotate(225deg);
    }
  }

  &.icon--time {
    background-image: url('../assets/clock-outline.svg');
  }

  &.icon--github {
    background-image: url('../assets/github-sign.svg');
  }

  &.icon--facebook {
    background-image: url('../assets/facebook-logo.svg');
  }

  &.icon--instagram {
    background-image: url('../assets/instagram.svg');
  }

  &.icon--search {
    background-image: url('../assets/icon_search_dark.svg');
  }

  &.icon--thumbs-up {
    background-image: url('../assets/thumb-up_blue.svg');
  }

  &.icon--thumbs-down {
    background-image: url('../assets/thumb-down_red.svg');
  }

  &.icon--emoji {
    background-image: url('../assets/emoticon-excited-outline.svg');
  }

  &.icon--camera {
    background-image: url('../assets/icon_camera.svg');
  }

  &.icon--hamburger {
    background-image: url('../assets/icon_hamburger.svg');
    width: 3.6rem;
  }

  &.icon--attachment {
    background-image: url('../assets/career/attachment-icon.png');
  }
}
