@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}


@mixin absolute-size($width, $height: $width) {
    min-width: $width;
    max-width: $width;
    min-height: $height;
    max-height: $height;
}
