* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body,
ul,
ol,
li,
button,
form,
input,
textarea,
select,
p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

button,
input[type="submit"] {
    border: 0;
    cursor: pointer;
}

select {
    background-color: transparent;
}

li {
    list-style-type: none;
}
