.sections {
  @include flex(center, flex-start);
  flex-direction: column;
  margin-top: 3rem;
}

.sections--home {
  position: relative;

  .section__row {
    margin-top: 6rem;

    & + .section__row {
      margin-top: 4rem;
    }
  }

  .article {
    position: relative;
    margin-top: 0;

    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}

@media (min-width: 1364px) {
  .section.section--meet-our-team {
    flex-direction: row;
    align-items: flex-start;

    .meet-our-team__video-iframe {
      width: 60%;
      height: 40rem;

      &:last-child {
        width: 100%;
        height: 66.4rem;
      }
    }

    .meet-our-team__aside {
      width: 40%;
      margin-left: 4rem;
    }
  }
}

.section--meet-our-team {
  .section__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .wistia_responsive_padding {
    width: 100%;
  }

  .meet-our-team__video-iframe {
    background-color: #000;
    width: 100%;
    height: 66.4rem;
    margin-top: 3rem;
  }

  .meet-our-team__aside-title-underline {
    margin-top: 2rem;
  }

  .meet-our-team__aside-description {
    margin: 3rem 0;
  }
}

.sections__patterns {
  width: inherit;
  position: absolute;

  .sections__pattern {
    position: absolute;
    z-index: -1;
  }
}

.sections__patterns--home {
  .sections__pattern {
    width: 56%;

    &--left {
      left: -17rem;
      top: 14rem;
    }

    &--right {
      transform: rotate(-45deg);
      right: -25rem;
      top: 3rem;
    }
  }
}

.sections__patterns--our-projects {
  .sections__pattern {
    width: 56%;
    left: 50%;
    top: 9rem;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.sections__patterns--blog {
  .sections__pattern {
    transform: rotate(180deg);
    left: -17rem;
    top: 14rem;
  }
}

.section {
  @include flex(flex-start, center);
  flex-direction: column;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 10rem;
  }
}

.section__title {
  font-weight: 700;
}

.section__row {
  @include flex(center, center);
  width: 100%;
  margin-top: 8.5rem;

  .project-card + .project-card {
    margin-left: 4.5rem;
  }

  .recommended-articles__article.blog__article {
    width: calc(33.33% - 8rem / 3);
  }

  &--project-cards {
    margin-top: 4.5rem;
    align-items: stretch;
  }
}

.side-column {
  .section__row {
    align-items: flex-start;
    margin-top: 0;
  }
}

.section__row--fdc {
  flex-direction: column;
}

.section__row--first {
  margin-top: 0;
}

.section__row--with-box {
  margin-top: 3.5rem;
  width: 100%;
}

.section__column {
  @include flex(center, center);
  flex-direction: column;
  flex: 1;
  padding-top: 4.2rem;

  &:not(:last-child) {
    margin-right: 10rem;
  }
}

.section__column--with-pattern {
  background: url('./../assets/Pattern.svg') no-repeat center / cover;
}

.section__column-title {
  margin: 3.4rem 0 1.6rem;
}

.section__column-description {
  line-height: 1.4;
}

.section__box {
  width: 78rem;
  padding: 4rem;
}

.section__box--framed {
  position: relative;
  border: $main-border;

  .form-submitted {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    will-change: opacity, pointer-events;
    transition: 0.5s ease-in-out;

    &.display-flex {
      display: flex !important;
    }

    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }
}
.section__box--grid,
.section__box--grid-2-col {
  @include flex(center, flex-start);
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}

.section__box--grid--logos {
  justify-content: flex-start;

  .grid__item {
    border: $main-border;
    transition: 0.25s ease-in-out;

    > img {
      filter: grayscale(1);
      transition: filter 0.25s ease-in-out;
    }

    &:hover {
      background-color: #fff;
      transform: scale(1.04);
      border-color: rgba($secondary-color, 0.5);

      > img {
        filter: none;
      }
    }
  }

  &-on-white {
    .grid__item {
      &:hover {
        background-color: $light-blue-color;
      }
    }

  }
}

.section__box--grid {
  .grid__item {
    width: calc(25% + .1rem);
  }
}


.section__box--grid-2-col {
  .grid__item {
    width: calc(50% + .1rem);
  }
}

.section__box-title {
  margin-bottom: 1.8rem;
}

.section {
  .form-field {
    margin: 3.6rem 0;

    &:first-child {
      margin-top: 4.5rem;
    }

    & + .form-field--checkbox {
      margin: -1rem 0 4rem;
    }
  }
}

.form-last-row {
  @include flex(flex-end, flex-start);
}

.grid__item {
  @include flex(center, center);
  margin-bottom: -.1rem;
  margin-left: -.1rem;
}

.grid__item-logo {
  width: 100%; // makes images blurred
}

.section--our-benefits {
  position: relative;
  padding: 10rem 0;
  
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: $light-blue-color;
  }
}

@media (max-width: 1364px) {
  .section__column {
    &:not(:last-child) {
      margin-right: 8.5%;
    }
  }

  .sections--home {
    .section__row {
      margin-top: 4rem;
    }
  }
  
  .meet-our-team {
    .meet-our-team__aside {
      margin-top: 6rem;
      align-items: center;
    }
    
    .meet-our-team__aside-description {
      width: 73rem;
      text-align: center;
    }
  }
}

@media (max-width: 1024px) {
  .section:not(:last-child) {
    margin-bottom: 6rem;
  }
  
  .section--meet-our-team {
    .meet-our-team__aside {
      margin-top: 5.4rem;
      align-items: center;
    }
    
    .meet-our-team__aside-description {
      text-align: center;
    }
  }

  #team.section--team {
    .section__row {
      &:not(:first-child) {
        margin-top: 7rem;
      }
    }
  }

  #second-team.section--team {
    .section__row {
      &:first-child {
        margin-top: 3rem;

      }

      &:not(:first-child) {
        margin-top: 4rem;
      }
    }
  }

  .section__box--grid-2-col {
    .grid__item {
      width: 100%;
    }
  }

  .section__box--grid {
    .grid__item {
      width: calc(50% + .1rem);
    }

    .team-member__description {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .job-offers__grid {
    margin-top: 6rem;
  }
}

@media (max-width: 991px) {
  .section--our-passion {
    margin-top: 2.4rem;
  }

  .section__column {
    padding-top: 2rem;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  .section--meet-our-team {
    margin-top: 2rem;

    .meet-our-team__video-iframe {
      width: calc(100vw - 2 * #{$content-padding-phone});
      height: calc((100vw - 2 * #{$content-padding-phone}) * 0.5625);
    }
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .section.section--our-passion {
    margin-bottom: 8.4rem;

    .section__row:last-child {
      flex-direction: column;
    }
  }

  #team.section--team {
    margin-bottom: 4rem;

    .section__row {
      &:not(:first-child) {
        margin-top: 2.5rem;
      }
    }
  }

  .section__column {
    padding-top: 4.8rem;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 8.4rem;
    }
  }
  
  .section__column-title {
    margin: 2.4rem 0 0.8rem;
    font-size: 1.8rem;
  }
  
  .section__column-description {
    text-align: center;
  }

  .section__box:not(.section__box--grid):not(.section__box--grid-2-col) {
    padding: 2.2rem 1.8rem;
  }

  .section__box-title {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
  }

  .section {
    .form-field {
      margin: 3.6rem 0;

      &:first-child {
        margin-top: 2.2rem;
      }

      + .form-field--checkbox {
        margin-bottom: 2rem;
      }
    }
  }

  .form-last-row {
    justify-content: center;
  }

  .section__row {
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }

  .sections--home {
    .section__row {
      margin-top: 3rem;
    }
  }

  .section__box--grid.team {
    .grid__item {
      width: 100%;
    }
  }

  .section--team {
    .section__row:first-child {
      margin-top: 0;
    }

    .section__row:last-child {
      margin-top: 1rem;
    }
  }

  .section__box--grid {
    .grid__item {
      width: 50%;
    }

    .team-member__description {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .section__box--grid-2-col {
    .grid__item:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  .section--meet-our-team {
    margin-top: 0;

    .section__row {
      margin-top: 0;
    }

    .meet-our-team__aside {
      margin-top: 2.5rem;
    }

    .meet-our-team__aside-description {
      margin: 2rem 3rem;
    }
  }

  .section--our-benefits {
    padding: 5.5rem 0;
  }
}

@media (max-width: 599px) {
  .meet-our-team {
    .meet-our-team__aside-description {
      width: 100%;
      padding: 0 3rem;
    }
  }
}
