$secondary-margin-right: 72rem;
$content-padding: 2rem;
$content-padding-phone: 1rem;

$layout-min-width: 98rem;
$layout-max-width: 122rem;

$content-columns-margin: 4.4rem;
$content-side-column-width: 37rem;

$header-height: 8.5rem;
$header-height-phone: 7rem;

$header-logo-max-width: 10rem;
$header-logo-max-width-phone: 25.555vw;
$header-logo-max-height: 5rem;

$main-post-height: 60rem;
$main-post-height-tablet: 48rem;
$main-post-height-phone: 83.333vw;

$main-post-margin-bottom: 4rem;
$main-post-margin-bottom-phone: 2rem;

$chip-margin-right: 0.7rem;

$header-box-shadow: 0 0.2rem 0.4rem 0 rgba(20, 35, 62, 0.1);

$article-hover-background: #f0f3f7;
$common-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
$light-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);

$darker-color: #152743;

$footer-color: #6b81ad;

$main-color: #14223d;
$main-color-alternative: #173250;
$main-color-hover: #2e4571;

$secondary-color: #8c98af;
$secondary-color-hover: #7988a5;

$anchor-color: #296ad0;
$tertiary-color: #6ba5c6;

$border-color: #d4dbe9;
$light-blue-color: #eef1f6;
$main-border: .1rem solid $border-color;
$accents-color: #fc3b56;
$accents-color-alternative: #ff5069;
$accents-color-dark: #7F2431;

$homepage-background: linear-gradient(247deg, $main-color-alternative 100%, $main-color);
