.career-banner__post {
  > *:not(.career-banner__title-container) {
    width: 52rem;
  }

  > .career-banner__title-underline {
    width: 10rem;
  }
}

.career-banner__title-container {
  margin: 0;
}

.career-banner__title {
  font-size: 5.6rem;
  font-weight: 300;
}

.career-banner__title-underline {
  margin: 2.2rem 0;
}

@media (max-width: 599px) and (orientation: portrait) {
  .career-banner__title {
    font-size: 3.6rem;
  }

  .career-banner__title-underline {
    margin: 1.3rem 0;
  }
}
