.header__top-bar,
.main-post,
.hoa-content {
  min-width: 98rem;
  width: 100%;
  max-width: 122rem;
  padding: 0 $content-padding;
}

.hoa-content {
  color: $main-color;
}

.layout-content {
  margin-top: $header-height;

  > div {
    @include flex(flex-start, center);
    flex-direction: column;
  }
}

.breadcrumbs {
  width: 100%;
  padding-top: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-flex;
  justify-content: flex-start;
  align-items: baseline;
}

.breadcrumbs__item {
  &:not(:last-child)::after {
    position: static;
    content: ">";
    margin: 0 0.7rem;
  }
}

.breadcrumbs__link {
  color: $triary-color;
}

.articles {
  @include flex(flex-start, flex-start);
}

.main-column {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  flex: 1;
  margin-right: 4.4rem;
}

.side-column {
  width: 35rem;

  h3, .h3 {
    font-size: 2.6rem;
  }
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .main-column {
    margin-right: 3.5%;
  }

  .side-column {
    width: 30%;
  }
}


@media (max-width: 991px) {
  .header__top-bar,
  .main-post,
  .hoa-content {
    min-width: auto;
    padding: 0 $content-padding-phone;
  }
}
