i.icon--fb-button {
  background-image: url('./../assets/career/icon_fb.png');
}
i.icon--ig-button {
  background-image: url('./../assets/career/Group.png');
}

.find-us__block {
  position: relative;
  @include size(58rem, 36rem);
  @include flex(center, center);
  background-blend-mode: color;

  + .find-us__block {
    margin-left: 4rem;
  }

  &--facebook {
    background: url('./../assets/facebook-background.jpg') center / cover;

    .find-us__block-overlay {
      background-color: $darker-color;
    }

    .find-us__logo {
      height: 4.5rem;
    }

    .find-us__button {
      color: $darker-color;
    }
  }

  &--instagram {
    background: url('./../assets/instagram-background.jpg') center / cover;

    .find-us__block-overlay {
      background-color: #670C19;
    }

    .find-us__logo {
      height: 6.2rem;
    }

    .find-us__button {
      color: $accents-color;
    }
  }
}

.find-us__block-overlay {
  position: absolute;
  opacity: 0.75;
  @include size(100%);
}

.button.find-us__button {
  @include flex(flex-start, center);
  padding-left: 3rem;
  padding-right: 3rem;
  font-weight: 700;


  .icon {
    @include size(1.8rem);
    margin-right: 1rem;
  }
}

.find-us__block-items {
  position: relative;
  @include size(26rem, 11.8rem);
  @include flex(space-between, center);
  flex-direction: column;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .find-us {
    .section__row {
      &:not(:first-child) {
        margin-top: 7.2rem;
      }
    }
  }

  .find-us__block {
    width: 49%;
    height: 28.64vw;

    + .find-us__block {
      margin-left: 2%;
    }
  }

  .find-us__block-items {
    height: 10.8rem;
  }
}

@media (max-width: 1024px) {
  .find-us__block {
    &--facebook {
      .find-us__logo {
        height: 3.2rem;
      }
    }

    &--instagram {
      .find-us__logo {
        height: 4.2rem;
      }
    }
  }
}

@media (max-width: 599px) {
  .find-us__wrapper {
    flex-direction: column;
  }

  .find-us__block {
    width: 100%;
    height: 20rem;

    + .find-us__block {
      margin-left: 0;
      margin-top: 2rem;
    }
  }

  .find-us__block-items {
    height: 9.4rem;
  }
}
