.job-offer {
  .post__title {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .side-column {
    margin-top: 3rem;
  }
}

.job-offer__fake-main-column {
  @include flex(flex-start, flex-start);
  flex-wrap: wrap;

  .main-column,
  .side-column {
    margin-bottom: 10rem;

  }
}

.job-offer__points-section {
  padding: 3rem 0 1rem;

  a {
    color: $anchor-color;

    &:hover {
      text-decoration: underline;
    }
  }

  + .job-offer__points-section {
    padding-top: 7rem;
  }
}

.job-offer__points-list {
  margin-top: 3rem;
}

.job-offer__points-list-item {
  @include flex(flex-start, baseline);

  &::before {
    content: '';
    display: inline-block;
    margin-right: 1.8rem;
    @include size(1.6rem, 1.2rem);
    background: url('./../assets/icon_check.svg') no-repeat center / contain;
  }

  + .job-offer__points-list-item {
    margin-top: 2.4rem;
  }
}

.job-offer__apply-button {
  width: 27rem;
  margin-top: 5rem;
  display: inline-block;
}

.job-offer__team-leader {
  width: 100%;
  @include flex(center, flex-start);
  padding: 5rem 0;

  .team-leader__wrapper {
    @include flex(flex-start, flex-start);
    width: 58rem;
  }

  .team-leader__avatar {
    @include size(16.4rem);
    margin-right: 3rem;
  }

  .team-leader__name {
    line-height: 1;
  }

  .team-leader__role {
    font-size: 1.4rem;
    font-weight: 500;
    color: $secondary-color;
  }

  .underline {
    margin-bottom: 1rem;
  }

  .team-leader__message {
    font-weight: 400;
  }

  .team-leader__details-container {
    flex: 1;
    @include flex(flex-start, stretch);
    flex-direction: column;
  }
}


@media (max-width: 599px) {
  .job-offer {
    padding: 0;
  }

  .job-offer__points-section {
    padding-top: 2rem;

    + .job-offer__points-section {
      padding-top: 4.5rem;
    }
  }

  .job-offer__points-list {
    margin-top: 4rem;
  }

  .job-offer__points-list-item {
    &::before {
      margin-right: 0.8rem;
    }

    + .job-offer__points-list-item {
      margin-top: 2rem;
    }
  }

  .job-offer__apply-button {
    width: 100%;
    margin-top: 3rem;
  }

  .job-offer__team-leader {
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem;

    .team-leader__wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }

    .team-leader__avatar {
      @include size(14rem);
      margin-right: 0;
      margin-bottom: 3rem;
    }

    .team-leader__details-container {
      align-items: center;
    }

    .team-leader__role {
      margin-top: .5rem;
    }
    
    .team-leader__message {
      text-align: center;
    }
  }
}
