.job-offer {
  .post__title {
    font-size: 2.6rem;
    font-weight: 700;
  }

  .side-column {
    margin-top: 3rem;
  }
}

.job-offer__fake-main-column {
  @include flex(flex-start, flex-start);
  flex-wrap: wrap;

  .main-column,
  .side-column {
    margin-bottom: 10rem;

  }
}

.job-offer__points-section {
  padding: 3rem 0 1rem;

  a {
    color: $anchor-color;

    &:hover {
      text-decoration: underline;
    }
  }

  + .job-offer__points-section {
    padding-top: 7rem;
  }
}

.job-offer__points-list {
  margin-top: 3rem;
}

.job-offer__points-list-item {
  @include flex(flex-start, baseline);

  &::before {
    content: '';
    display: inline-block;
    margin-right: 1.8rem;
    @include size(1.6rem, 1.2rem);
    background: url('../../assets/icon_check.svg') no-repeat center / contain;
  }

  + .job-offer__points-list-item {
    margin-top: 2.4rem;
  }
}
