.job-offers__grid {
  width: 100%;
  @include flex(center, flex-start);
  flex-wrap: wrap;
}

.job-offers--vertical {
  .job-offers__grid {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .section__title {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1365px) {
  .job-offers__item {
    width: calc(100% / 3);
    max-width: 37rem;

    &:not(:nth-child(3n)) {
      margin-right: 3.5rem;
    }

    &:not(:nth-child(n + 7)) {
      margin-bottom: 3.5rem;
    }
  }
}

.job-offers--vertical {
  .job-offers__item {
    padding: 3rem 2.4rem;
    width: 100%;
    max-width: unset;


    &:not(:nth-child(3n)),
    &:not(:nth-child(n + 7)) {
      margin: 0;
    }


    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

$job-offer-transition:0.2s all ease-in-out;

.job-offers__item {
  @include flex(flex-start, stretch);
  flex-direction: column;
  padding: 3.4rem 3rem;
  border: 1px solid $border-color;
  transition: $job-offer-transition;

  &:hover {
    background-color: $accents-color;
    border-color: $accents-color;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(20,35,62,0.2);

    .job-offers__item-title a {
      color: #fff;
    }

    .job-offers__item-location {
      color: $accents-color-dark;
    }

    .job-offers__item-tags {
      border-top-color: #fff;
    }

    .chip {
      background-color: #fff;
      color: $secondary-color;

      &:hover {
        background-color: rgba(#fff, 0.4);
        color: #fff;
      }
    }

    .job-offers__apply-button {
      background-color: #fff;
      border-color: #fff;
      color: $darker-color;

      &:hover {
        box-shadow: 0 2px 6px 0 rgba(20,35,62,0.2);
      }
    }
  }
}

.job-offers__item-title {
  a {
    color: $darker-color;
    transition: $job-offer-transition;
  }

  + .job-offers__item-location {
    margin-top: 1rem;
  }
}

.job-offers__item-location {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  color: $secondary-color;
  transition: $job-offer-transition;

  + .job-offers__item-tags {
    margin-top: 3rem;
  }
}

.job-offers__item-tags {
  $job-offer-tag-margin-bottom: 0.9rem;
  padding: 3rem 0 3rem - $job-offer-tag-margin-bottom;
  border-top: 1px solid $border-color;
  width: calc(100% + #{$chip-margin-right});
  transition: $job-offer-transition;

  .chip {
    margin-bottom: $job-offer-tag-margin-bottom;
    transition: $job-offer-transition;
  }
}

.job-offers__apply-button {
  transition: $job-offer-transition;
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .job-offers__item {
    width: 32%;

    &:not(:nth-child(3n)) {
      margin-right: 2%;
    }

    &:not(:nth-child(-n + 3)) {
      margin-bottom: 3.5rem;
    }
  }
}

@media (max-width: 1364px) {
  .job-offer {
    padding: 2.8rem 2.2rem;
  }

  .job-offers__item-tags {
    padding: 2.2rem 0 1.6rem;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .job-offers__item {
    width: calc((100% - 3.5rem) / 2);
    max-width: 37rem;

    &:not(:nth-child(2n)) {
      margin-right: 2rem;
    }

    &:not(:nth-child(n + 5)) {
      margin-bottom: 3.5rem;
    }

    &:nth-child(n + 7) {
      display: none;
    }
  }
}

@media (max-width: 599px) {
  .job-offers__item {
    width: 100%;

    &:not(:nth-child(n + 6)) {
      margin-bottom: 2rem;
    }

    &:nth-child(n + 7) {
      display: none;
    }
  }
}
