.main-post__banner {
  position: relative;
  @include flex(center, flex-end);
  @include size (100%, 60rem);
  background: left center / cover;
}

.main-post__background-image,
.main-post__background-overlay {
  position: absolute;
  z-index: -1;
  @include size(100%);
}

.main-post__background-overlay {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), transparent);
}

.main-post__background-image {
  background: left center / cover;
}

.main-post {
  @include flex(flex-start, stretch);
  flex-direction: column;
  margin-bottom: $main-post-margin-bottom;
  padding: $content-padding;
  color: #fff;

  > * {
    width: 82rem;
  }
}

.main-post__chips-container {
  margin-bottom: 1.4rem;
}

.main-post__title-container {
  margin: 1rem 0;
}

.main-post__title {
  color: inherit;
}

.main-post__description-container {
  padding-top: .7rem;
}

.main-post__description {
  font-weight: 300;
}

.main-post__button-container {
  margin-top: 2.2rem;
}

.header__button {
  padding: 1rem 3.2rem;
}

@media (max-width: 1024px) {
  body .main-post__banner .main-post {
    > *:not(.underline):not(.underline--long) {
      width: 100%;
    }
  }

  .main-post__banner {
    height: $main-post-height-tablet;
  }
}

@media (max-width: 599px) and (orientation: portrait) {
  .main-post {
    margin-bottom: $main-post-margin-bottom-phone;
  }

  .main-post__banner {
    height: $main-post-height-phone;
  }

  .main-post__description {
    font-size: 3.888vw;
  }

  .main-post__chips-container {
    margin-bottom: 2rem;
  }

  .main-post__title-container {
    margin: 0;
  }
}
