.scrum-values {
  .icon {
    &.icon--rocket {
      background-image: url('../../assets/inclined-rocket.svg');
    }
  }
}

.scrum-values__wrapper {
  @include flex(center, stretch);
  flex-wrap: wrap;
  margin-top: 13.6rem;
}

@media (min-width: 1025px) {
  .scrum-values__item {
    flex: 30%;
    max-width: 40%;

    &:first-child {
      margin-bottom: 13.6rem;
    }

    &:not(:nth-child(3n + 3)):not(:last-child) {
      margin-right: 5%;
    }
  }
}

.scrum-values__item {
  @include flex(flex-start, flex-start);
}

.scrum-values__item-icon-container {
  @include flex(center, center);
  @include size(6rem);
  margin-right: 4rem;

  .icon {
    @include size(inherit);
  }
}

.scrum-values__item-title {
  line-height: 1;
}

.scrum-values__item-description {
  margin-top: 1rem;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .section.scrum-values {
    margin-bottom: 14rem;
  }

  .scrum-values__item {
    flex: 47.5%;
    max-width: 70%;

    &:not(:nth-last-child(2)):not(:last-child) {
      margin-bottom: 13.6rem;
    }

    &:not(:nth-child(2n + 2)):not(:last-child) {
      margin-right: 5%;
    }
  }
}


@media (max-width: 599px) {
  .section.scrum-values {
    margin-bottom: 11.6rem;

    .section__row:not(:first-child) {
      margin-top: 9rem;
    }
  }

  .scrum-values__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 12.8rem;
    }
  }
}
